# =========================
# Python cache & bytecode
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual Environments
# =========================
.venv/
venv/
env/
ENV/
*.env
*.venv

# =========================
# Pretrained Models
# =========================
pretrained_models/*
!pretrained_models/README.md